<mat-accordion class="example-headers-align">
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Opções
            </mat-panel-title>

        </mat-expansion-panel-header>

        <button mat-raised-button color="accent" [disabled]="desabilitarLimpar" (click)="limpar()">
      <mat-icon>delete</mat-icon>
    </button>

    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Algoritmo de Busca
            </mat-panel-title>
            <mat-panel-description>
                {{algoritmoSelecionado.toUpperCase()}}
            </mat-panel-description>

        </mat-expansion-panel-header>

        <mat-form-field>
            <mat-select placeholder="Selecione o Algoritmo" [(value)]="algoritmoSelecionado" (selectionChange)="mudarAlgoritmo()" (click)="cancelar()">
                <mat-option *ngFor="let alg of algs" [value]="alg.nome">
                    {{alg.viewNome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Selecione a Heurística" [(value)]="heuristicaSelecionada" [disabled]="habilitarHeuristica" (selectionChange)="mudarHeuristica()" (click)="cancelar()">
                <mat-option *ngFor="let heu of heus" [value]="heu.nome">
                    {{heu.viewNome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Execução
            </mat-panel-title>

        </mat-expansion-panel-header>

        <div class="example-button-row">
            <a mat-raised-button color="primary" style="margin-right: 10px" [disabled]="desabilitarIniciar" (click)="iniciar()">
                <mat-icon>play_arrow</mat-icon>
            </a>
            <a mat-raised-button color="primary" style="margin-right: 10px" [disabled]="desabilitarPausar" (click)="pausar()">
                <mat-icon>pause</mat-icon>
            </a>
            <a mat-raised-button color="primary" [disabled]="desabilitarParar" (click)="cancelar()">
                <mat-icon>stop</mat-icon>
            </a>
        </div>

    </mat-expansion-panel>


</mat-accordion>