<mat-accordion class="example-headers-align">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Algoritmo de Busca
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="1" placeholder="Age">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Execução
      </mat-panel-title>

    </mat-expansion-panel-header>

    <div class="example-button-row">
      <a mat-raised-button color="primary" style="margin-right: 10px">
        <mat-icon>play_arrow</mat-icon>
      </a>
      <a mat-raised-button color="primary" style="margin-right: 10px">
        <mat-icon>pause</mat-icon>
      </a>
      <a mat-raised-button color="primary">
        <mat-icon>stop</mat-icon>
      </a>
    </div>
    <br><br>
    <button mat-raised-button color="accent" (click)="limpar()">
      <mat-icon>delete</mat-icon>
    </button>

  </mat-expansion-panel>


</mat-accordion>